@using SimpleSchoolSystem.Controllers;
@using SimpleSchoolSystem.ViewModel;

@model List<TraineeModel>


<main class="">

    <h2 class="p-3">Current Students..</h2>


    <article class="flex flex-row flex-wrap gap-5">

        @foreach (var student in Model)
        {
            <section class="py-8 px-8 basis-96 max-w-sm mx-auto bg-white rounded-xl shadow-xl hover:shadow-2xl space-y-2 cursor-pointer">


                <span class="bg-red-200 flex items-center justify-center rounded-full h-24 w-24">
                    <span class="text-4xl font-medium">@student.Name.Substring(0, 1)</span>
                </span>


                <hr class="border-2 border-gray-400 my-6" />

                <div class="pt-6 font-bold flex flex-col space-y-2">
                    <h2 class="">Student: <span class="text-gray-800 font-medium">@student.Name</span></h2>
                    <h3 class=""> Age: <span class="text-gray-800 font-medium">@student.Age</span></h3>

                    <br />

                    <p class="text-gray-800"></p>
                    <a class="self-end items-end justify-self-end content-end px-4 py-1 text-sm text-gray-900 font-semibold rounded-full border border-red-200  hover:border-red-400 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2" href="@Url.Action(nameof(StudentController.GetStudentById), "student", new { id = student.Id })">View Profile</a>
                </div>

            </section>
        }

    </article>

</main>