@model InstructorModel;



    <section class="flex flex-col items-center p-2 mt-10 text-gray-900 font-bold">
    <h3 class="">Name: <span class="font-semibold">@Model.Name</span></h3>
        <br />
        <h4 class="">Age: <span>@Model.Age</span></h4>
    </section>





